* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Titillium Web", sans-serif;
}

body {
  font-size: 1.6rem;
  background: #f8fafc;
}

#page {
  height: 100vh;
}

.flex{
  display: flex;
}

#page > *{
  width: 50%;
}

.tela2 {
  width: 100%;
  object-fit: cover;
}

#page > div {
  padding: 4rem 11.2rem;
}

main {
  margin-top: 11.4rem;
}

form {
  margin-top: 4rem;
}

/* .login {
  width: 38.4rem;
  height: 48.3rem;
  display: grid;
  align-items: flex-start;
  margin: 11.4rem 20.8rem 20.8rem 0;  
}

.login .titulo {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 5.5rem;
  color: #1e293b;
}

.login .subtitulo {
  color: #475569;
}

.login label {
  display: block;
  color: #1e293b;
  font-weight: 600;
  font-size: 1.4rem;
}

.login input {
  border: 1px solid #e2e8f0;
  border-radius: 0.4rem;
  display: block;
  padding: 1.6rem 2.4rem;
}

.login .btn {
  background-color: #7c3aed;
  border-radius: 0.4rem;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 1.6rem 2.4rem;
  align-items: center;
}

.login footer {
  color: #475569;
} */
