* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292738;
  font-family: "inter", sans-serif;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

.container {
  color: white;
}

.info-geral {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 59px 32px;
  padding: 112px 123px;
  justify-content: center;
}

.dashboard {
  background-color: #363447;
  padding: 29px 48px;
  box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
}

.dashboard h1 {
  font-weight: 600;
  font-size: 24px;
}

.dashboard p {
  font-weight: 600;
  font-size: 24px;
}

.dashboard span {
  font-weight: 500;
  font-size: 14px;
}

.pontos {
  display: grid;
}

.pontos-nota {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.pontos-nota p {
  color: #81fbb8;
}

svg {
  --percentage: 0;
  width: 197px;
  height: 197px;
  transform: rotate(-90deg);
}

circle {
  fill: none;
  stroke-width: 35;
  stroke-dasharray: 618;
  stroke-dashoffset: 618;
}

circle:nth-child(1) {
  stroke-dashoffset: 0;
}

circle:nth-child(2) {
  stroke-dashoffset: calc(618 - (618 * var(--percentage)) / 100);
  stroke-linecap: round;

  animation: progress 1s ease-in-out;
}

@keyframes progress {
  0% {
    stroke-dasharray: 618;
    stroke-dashoffset: 618;
  }
}

.circulo-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -160px;
}

.circulo-txt p {
  font-weight: 700;
  font-size: 32px;
}

.circulo-txt span {
  font-weight: 500;
  font-size: 16px;
}

.estatisticas span {
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
}

.estatisticas span::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: linear-gradient(121.94deg, #ce9ffc 15.98%, #7367f0 82.85%);
  margin-right: 4px;
}
.estatisticas2 span::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: linear-gradient(121.94deg, #df9780 15.98%, #a66de9 82.85%);
  margin-right: 4px;
}

.estatisticas span:nth-child(1):before {
  background: #4a4556;
}

.estatisticas2 span:nth-child(1):before {
  background: #4a4556;
}

.info-semanal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 3;
}

.info-semanal h1 {
  grid-column: span 2;
}

.info-semanal p {
  margin-top: 8px;
  font-size: 24px;
}

.info-semanal span {
  font-size: 14px;
  font-weight: 500;
}

.bars {
  display: flex;
  gap: calc(3vw + 1rem);
  align-items: flex-end;
  position: relative;
}

.bars::before {
  content: "";
  display: block;
  height: 0.3rem;
  width: 100%;
  background: #4a4556;
  border-radius: 99.9rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.bar-wrapper {
  display: grid;
  grid-template-rows: 15.9rem 1.6rem;
  justify-items: center;
  gap: 0.5rem;
  z-index: 1;
}

.bar {
  width: 1.5rem;
  background: linear-gradient(180deg, #90f7ec 0%, #32ccbc 100%);
  border-radius: 99.9rem;

  height: var(--height);
  align-self: end;

  animation: up 1.4s;
}

@keyframes up {
  0% {
    height: 0;
  }
}